{% extends "main.html" %}
{% block title %}F.A.Q{% endblock %}
	{% block content %}
	{% load static %}
		<!-- Page Wrapper -->
		<div id="page-wrapper">
			<!-- Main -->
			<article id="main">
				<header>
					<h2>Foire Aux Questions</h2>
					<p>Parce qu'on a tous des questions</p>
				</header>
				<section class="wrapper style5">
					<div class="inner">

						<h3>Comment faire pour jouer au jeu ?</h3>
						<p>Pour celà, rien de plus simple. Il suffit de vous inscrire en cliquant sur le menu déroulant dans le coin supérieur droit de votre navigateur et de choisir "jouer" ou "se connecter".</p>

						<p>Une fois les informations requises entrées, vous devrez vous authentifier avec les informations précédemment renseignées et vous aurez accès à la page de jeu.</p>

						<hr />

						<h3>A qui s'adresse Alumni Educ ? </h3>
						<p> Alumni Educ s'adresse a toute personne de tout âge, désireux d'apprendre tout en s'amusant. </p>

						<hr />

						<h3>Est-ce payant ?</h3>
						<p> Non, rien n'est payant chez nous. Aussi bien la partie "élève" pour pouvoir jouer, que le compte "professeur" pour créer des niveaux qui est lui aussi gratuit. </p>

						<hr />

						<h3>Qu'est ce que le compte "élève" et le compte "professeur" ? </h3>
						<p> Le compte "élève" permet de jouer au jeu et de progresser dans les niveaux. Chaque joueur a la possiblité de consulter ses statistiques, son profil et son avancée dans les niveaux.</p>

						<p> Le compte "professeur" permet quant à lui de créer des programmes de cours ainsi que les niveaux et questions que les joueurs pourront essayer.</p>

						<hr />

					</div>
				</section>
			</article>
		</div>
	{% endblock %}