{% extends "main.html" %}
{% block title %}Jouer{% endblock %}
	{% block content %}
	{% if user.is_authenticated %}
	<h1>Hi {{ user.username }}!</h1>
	{% else %}
	<p>You are not logged in</p>
	<a href="{% url 'login' %}">LOGIN</a>
	{% endif %}
	{% load static %}
		<!-- Page Wrapper -->
			<!-- Main -->
			<script src="https://cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
			<style src="{% static "assets/css/game.css" %}"></style>
			<link rel="stylesheet" href="{% static "assets/css/game.css" %}"/>
			<article id="main">
				<section class="wrapper style5">
					{% csrf_token %}
					<div id="phaser-game" class="game">
						<script src="{% static "assets/js/game.js" %}"></script>
					</div>
					<div class="mobile-game">
						<h2>Ce jeux n'est qu'accessible par desktop.</h2>
					</div>
					<hr />
					<div class="inner">
						<h4>Règles du jeu :</h4>
						<p>Ramassez un maximum d'étoiles tout en évitant les bombes et obtenez des points bonus en répondant correctement aux questions !</br>
						Une mauvaise réponse vous fera perdre beaucoup de points...Révisez bien votre cours avant de commencer la partie !</p>
					</div>
				</section>
			</article>
	{% endblock %}