{% extends "main.html" %}
{% block title %}Alumni Educ{% endblock %}
{% block content %}
{% load static %}
<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h2>Alumni</h2>
			<p>Une autre façon<br />
				d'apprendre<br />
			</p>
			<ul class="actions special">
				<li><a href="/game" class="button primary">Jouer</a></li>
			</ul>
		</div>
		<a href="#two" class="more scrolly">En savoir plus</a>
	</section>

	<!-- One -->
	<section id="onePlus" class="wrapper style1 special">
		<div id="column">
			<div id="boardOne">
				<h4> Meilleurs Scores </h4>
				<ol>
					{% for user in top_players_list %}
					<li>{{ user.username }} || {{ user.top_score }}</li>
					{% endfor %}
				</ol>
			</div>
			<div id="boardTwo">
				<h4> Derniers Inscrits </h4>
				<p>
					{% for player in latest_players_list %}
						{{ player.username }} || {{ player.date_joined }}<br/>
					{% endfor %}
				</p>
			</div>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper alt style2">
		<section class="spotlight">
			<div class="image"><img src="{% static "accueil/images/3.jpg" %}" alt="" /></div>
			<div class="content">
				<h2>Apprendre en s'amusant !</h2>
				<p>Alumni propose une nouvelle pédagogie qui fera appel à votre mémoire et à votre agilité.</br>
					Prenez le contrôle de votre personnage et répondez correctement aux questions pour obtenir un maximum de points !</p>
				<a href="/project" class="button fit">En savoir plus</a>
			</div>
		</section>

		<section class="spotlight">
			<div class="image"><img src="{% static "accueil/images/9.jpg" %}" alt="" /></div>
			<div class="content">
				<h2>Une équipe de développeurs au top </h2>
				<p>Alumni, c'est : </br>
					- 2 mois de travail </br>
					- 150 litres de café consommé</br>
					- de la sueur</br>
					- des (crash) tests</br>
					- et de la joie </br>
					Le tout pour vous fournir la plateforme éducative la plus performante! </p>
				<a href="/project" class="button fit">En savoir plus</a>
			</div>
		</section>

		<section class="spotlight">
			<div class="image"><img src="{% static "accueil/images/dash.png" %}" alt="" /></div>
			<div class="content">
				<h2> Proposez de nouveau<br />
					programmes</h2>
				<p>Avec un compte "professeur", créez vous-même vos propres niveaux, avec des thématiques et questions que vous
					choisissez!</br>
					Envie de créer un programme complet sur la physique quantique?</br>
					Pas de problème!</br>
					Créez vous même les questions qui seront posées aux élèves ainsi que les niveaux à jouer.</p>
				<a href="/profs" class="button fit">En savoir plus</a>
			</div>
		</section>
	</section>

	<!-- Three -->
	<section id="three" class="wrapper style3 special">
		<div class="inner">
			<header class="major">
				<h2>Une application complète par navigateur</h2>
				<p> « La pédagogie dépend de l'environnement de l'apprenant. »</br>
					Karim Tiendrebeogo, Burkina Faso, Sapouy, 1977 </p>
			</header>
			<ul class="features">
				<li class="icon fa-paper-plane-o">
					<h3>Un thème proposé gratuitement</h3>
					<p>Perfectionnez votre niveau en géographie grâce à notre thème offert sur les différentes capitales du monde !</p>
				</li>
				<li class="icon fa-laptop">
					<h3>2 comptes utilisateurs </h3>
					<p>Le compte « élève » qui permet l'accès au jeu Alumni.</br>
						Et le compte « professeur » qui permet de proposer du nouveau contenu de cours.</p>
				</li>
				<li class="icon fa-code">
					<h3>Devenez un contributeur</h3>
					<p>Si vous souhaitez participer à notre projet, nous sommes à l'écoute de toutes les bonnes idées qui
						permettront de rendre cette expérience d'apprentissage unique !</p>
				</li>
				<li class="icon fa-headphones">
					<h3>A votre écoute</h3>
					<p>L'équipe technique d'Alumni est à votre écoute pour toute suggestion ou soucis technique.</p>

			</ul>
		</div>
	</section>

	<!-- CTA -->
	<section id="cta" class="wrapper style4">
		<div class="inner">
			<header>
				<h2>Alors qu'attendez vous?</h2>
				<p>Désormais, c'est vous qui êtes le maître de votre apprentissage.</p>
			</header>
			<ul class="actions stacked">
				<li><a href="game" class="button fit primary">Jouer</a></li>
				<li><a href="faq" class="button fit">F.A.Q</a></li>
			</ul>
		</div>
	</section>
</div>
{% endblock %}