{% extends "main.html" %}
{% block title %}Alumni Educ{% endblock %}
{% block content %}
{% load static %}
<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h2>Alumni Educ</h2>
			<p>Une autre façon<br />
				d'apprendre<br />
			</p>
			<ul class="actions special">
				<li><a href="game" class="button primary">Jouer</a></li>
			</ul>
		</div>
		<a href="#two" class="more scrolly">En apprendre plus</a>
	</section>

	<!-- One -->
	<section id="onePlus" class="wrapper style1 special">
		<div id="column">
			<div id="boardOne">
				<h4> Meilleurs Scores </h4>
				<ul>
					{% for user in top_players_list %}
					<li>{{ user.username }} /// {{ user.top_score }}</li>
					{% endfor %}
				</ul>
			</div>
			<div id="boardTwo">
				<h4> Derniers Inscrits </h4>
				<ul>
					<li>Balezeman</li>
					<li>Kevindu92</li>
					<li>Toto42</li>
					<li>Apopoloco</li>
					<li>Fusator</li>
				</ul>
			</div>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper alt style2">
		<section class="spotlight">
			<div class="image"><img src="{% static " accueil/images/3.jpg" %}" alt="" /></div>
			<div class="content">
				<h2>C'est quoi Alumni Educ? </h2>
				<p>Alumni Educ, c'est une nouvelle pédagogie qui fera appel à votre mémoire et à votre agilité. Prenez le contrôle
					d'un stick man, et répondez correctement aux questions qui vous seront posées. </br>
					Sans quoi... Votre destin en sera autre...</p>
				<a href="project" class="button fit">En savoir plus</a>
			</div>
		</section>

		<section class="spotlight">
			<div class="image"><img src="{% static " accueil/images/9.jpg" %}" alt="" /></div>
			<div class="content">
				<h2>Une équipe de développeurs au top </h2>
				<p>Alumni Educ, c'est : </br>
					- 2 mois de travail </br>
					- 150 litres de café consommé</br>
					- de la sueur</br>
					- des (crash) tests</br>
					- et de la joie </br>
					Le tout pour vous fournir la plateforme éducative la plus performante! </p>
				<a href="project" class="button fit">En savoir plus</a>
			</div>
		</section>

		<section class="spotlight">
			<div class="image"><img src="{% static " accueil/images/dash.png" %}" alt="" /></div>
			<div class="content">
				<h2> Ajoutez vous même des programmes<br />
					de cours </h2>
				<p>Avec un compte "professeur", créez vous-même vos propres niveaux, avec des thématiques et questions que vous
					choisissez!</br>
					Envie de créer un programme complet sur la physique quantique?</br>
					Pas de problème!</br>
					Créez vous même les questions qui seront posées aux élèves ainsi que les niveaux à jouer.</p>
				<a href="profs" class="button fit">En savoir plus</a>
			</div>
		</section>
	</section>

	<!-- Three -->
	<section id="three" class="wrapper style3 special">
		<div class="inner">
			<header class="major">
				<h2>Une application complète par navigateur</h2>
				<p> « La pédagogie dépend de l'environnement de l'apprenant. »</br>
					Karim Tiendrebeogo, Burkina Faso, Sapouy, 1977 </p>
			</header>
			<ul class="features">
				<li class="icon fa-paper-plane-o">
					<h3>2 thèmes déjà fournis</h3>
					<p>Les thèmes Histoire et Géographie sont déjà disponible avec un programme pour chacun :</br>
						- Histoire : La Révolution Française</br>
						- Géographie : Les capitales des pays du monde</p>
				</li>
				<li class="icon fa-laptop">
					<h3>2 comptes utilisateurs </h3>
					<p>Les comptes « élèves » permettent de jouer à Alumni Educ.</br>
						Les comptes « professeurs » peuvent eux en plus, créer et ajouter des thèmes et programmes.</p>
				</li>
				<li class="icon fa-code">
					<h3>Devenez un contributeur</h3>
					<p>Créez votre :</br>
						- Thème (maths,histoire,autres)</br>
						- Programme (géométrie,autres)</br>
						- Niveau à jouer </p>
				</li>
				<li class="icon fa-headphones">
					<h3>A votre écoute</h3>
					<p>L'équipe technique d'Alumni Educ est à votre écoute pour toute suggestion ou soucis technique.</p>

			</ul>
		</div>
	</section>

	<!-- CTA -->
	<section id="cta" class="wrapper style4">
		<div class="inner">
			<header>
				<h2>Alors qu'attendez vous?</h2>
				<p>Désormais, c'est vous qui êtes le maître de votre propre apprentissage.</p>
			</header>
			<ul class="actions stacked">
				<li><a href="game" class="button fit primary">Jouer</a></li>
				<li><a href="faq" class="button fit">F.A.Q</a></li>
			</ul>
		</div>
	</section>
</div>
{% endblock %}