{% extends "main.html" %}
{% block title %}Jouer{% endblock %}
	{% block content %}
	{% load static %}
		<!-- Page Wrapper -->
		<div id="page-wrapper">
			<!-- Main -->
			<article id="main">
				<header>
					<h2>Le compte professeur</h2>
					<p>Ajoutez vos propres cours !</p>
				</header>
				<section class="wrapper style5">
					<div class="inner">

						<h3>Ajoutez du contenu</h3>
						<p>En tant qu'enseignant, vous avez la possibilité de proposer de nouveaux cours. Notre plateforme interactive permettra
							à vos élèves d'apprendre efficacement tout en s'amusant !</p>

						<p>Le contenu de vos cours sera introduit sous la forme d'un univers unique, réparti sur plusieurs niveaux !</p>

						<hr />

						<h3>Suivez l'évolution de vos élèves</h3>
						<p>Grâce à votre compte enseignant, vous aurez la possibilité d'accéder à un suivi détaillé de chaque élève et ainsi valider progressivement leur apprentissage.</p>

						<p>Les élèves les plus assidus et obtenant les meilleurs résultats verront leur score s'afficher sur la page d'accueil !</p>

					</div>
				</section>
			</article>
		</div>
	{% endblock %}