{% extends "main.html" %}
{% block title %}Project{% endblock %}
	{% block content %}
	{% load static %}
		<!-- Page Wrapper -->
		<div id="page-wrapper">
			<!-- Main -->
			<article id="main">
				<header>
					<h2>Le projet Alumni Educ</h2>
					<p>Une nouvelle pédagogie, une nouvelle façon d'apprendre</p>
				</header>
				<section class="wrapper style5">
					<div class="inner">

						<h3>Je jeu au coeur de l'apprentissage</h3>
						<p>
							Au dela d'une simple demonstration de technologie et de la realisation d'un projet de fin de formation, notre objectif est avant
							 tout de demontrer par l'exemple l'efficacite de l'apprentissage par l'amusement.
							 En effet, nombres d'etudes demontrent aujourd'hui l'importance du plaisir, du jeu et des interactions entre individus dans l'apprentissage,
							  facilitant et decuplant les capacites d'integration des concepts et de l'information aupres des apprenants.
						</p>
						<p>
							C'est ainsi que nous avons construit notre projet, creer un jeu amusant et prenant au sein duquel il vous sera possible d'apprendre differents
							 sujets par la repetition et l'association sans meme vous en rendre compte.
							 Bien entendu, les mecaniques de jeu ne sont pas en reste avec un systeme de battle-royal en multijoueur rendant l'experience a la fois collaborative et amusante.
						</p>

						<hr/>

						<h3>Justement, et le jeu dans tout ca?</h3>
						<p>
							Dans XXXXXXXXX, vous incarnez un personnage devant combattre dans une arene avec d'autres joueurs.
							 Comme tout bon battle-royal, des bonus apparaissent aleatoirement sur la carte, il vous faudra alors jouer d'habillete ou de force pour etre le premier a vous en emparer.
							 Mais etre rapide n'est pas suffisant, les coffres bonus sont verouilles et il vous faudra repondre correctement pour profiter de son contenu.
							 Soyez rapide et perspicace, car le premier joueur a obtenir et ouvrir 10 coffres risque fort de mettre fin a la partie...
						</p>

					</div>
				</section>
			</article>

			<article id="main">
				<header>
					<h2>Une équipe au top</h2>
					<p>Qui aime coder</p>
				</header>
				<section class="wrapper style5">
					<div class="inner">
						<p>
							<span class="image left"><img src="{% static "accueil/images/pic04.jpg" %}" alt="Jourdy" /></span> <!-- 180x180 -->
							A remplir.
						</p>
						<p>
							<span class="image right"><img src="{% static "accueil/images/pandidou.jpg" %}" alt="Manu" /></span>
							Autodidacte et passionne de jeux en tout genre, et particulierement de jeux video, j'ai toujours voulu creer mon propre jeu!
							 Ce projet fut donc l'occasion revee pour moi de realiser ce reve d'enfance et de mettre enfin le pied a l'etrier.
							 Et pour ne rien gacher, je dois bien avouer y avoir pris beaucoup de plaisir... ^^
						</p>
						<p>
							<span class="image left"><img src="{% static "accueil/images/pic04.jpg" %}" alt="Teddy" /></span> <!-- 180x180 -->
							A remplir.
						</p>
						<p>
							<span class="image right"><img src="{% static "accueil/images/pic04.jpg" %}" alt="Alex" /></span> <!-- 180x180 -->
							A remplir.
						</p>
					</div>
				</section>
			</article>
		</div>
	{% endblock %}