<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nom de notre super jeu</title>
</head>
<body>
    <h1>Nom de notre super jeu</h1>
    <div>
        <a href="./project.html">Detail du projet</a>
        <a href="./team.html">L'equipe</a>
        <a href="./subscribe.html">S'inscrire</a>
        <a href="./sign.html">Se connecter</a>
    </div>
        <a href="./sign.html"><button>Jouer!</button></a>    
    <div>
        <h2>Meilleurs scores</h2>
        <ol>
            {% for user in top_players_list %}
                <li>{{ user.username }} /// {{ user.top_score }}</li>
            {% endfor %}
        </ol>
    </div>
    <div>
        <h2>Derniers inscrits</h2>
        <ul>
            {% for player in latest_players_list %}
                <li>{{ player.username }} /// {{ player.date_joined }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
